*
{
	color		: black;
	margin		: 0px;
	padding		: 0px;
}
body
{

}
div.content
{
	margin		: auto;
	width		: 100%;
	height		: 100%;
	background	: yellow;

}

div.top
{
	margin		: auto;
	width		: 760px;
	height		: 100px;
	background	: white;
}
div.menu
{
	margin		: auto;
	width		: 760px;
	height		: 20px;
	padding		: 20px;
	background	: #F0CF0F;
}
div.data
{
	height		: auto;
	background	: #CCCCFF;
}
div.bar
{
	background	: #FFCCCC;
	display		: inline;
	padding		: 10px;
}